@use "../../../../styles/constants.scss";

.footer-top-panel {
  gap: 90px;
}

.footer-links {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(4, max-content);
  grid-auto-flow: column;
  column-gap: 64px;
  row-gap: 8px;

  &_link {
    cursor: pointer;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      color: map-get(constants.$colors, gray-3);
    }
  }
}

.footer-stores {
  gap: 8px;
}

.footer-messengers {
  gap: 16px;
}
